---
// src/components/Topic.astro
export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<div class="mx-auto max-w-3xl text-center">
    <h2 
      class="text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl"
      style="font-family: 'Space Grotesk', sans-serif;"
    >
      {title}
    </h2>
    <p 
      class="mt-6 text-lg leading-8 text-slate-600"
      style="font-family: 'Space Grotesk', sans-serif;"
    >
      {description}
    </p>
</div>

